.gpt__cta {
    margin: 1rem;
    text-align: center;
}
.gpt__cta-container {
    padding: 16px;
    border: 1px solid var(--color-black);
    border-radius: 11px;
}
.gpt__cta .pre-title {
    color: #0e0e0e;
    font-weight: 500;
    font-size: 12px;
}
.gpt__cta-container h3 {
    display: inline-block;
    font-size: 20px;
    line-height: 25px;
    font-weight: 800;
    color: var(--color-black);
    margin: 10px 0;
}
.gpt__cta-button {
    font-size: 14px;
    color: var(--color-default);
    padding: 10px 20px;
    border-radius: 40px;
    background-color: var(--color-black);
}

@media screen and (min-width: 768px) {
    .gpt__cta-container {
        padding: 46px;
    }
}

@media screen and (min-width: 1024px) {
    .gpt__cta {
        margin: 2rem;
        text-align: left;
    }
    .gpt__cta-headline {
        display: flex;
        justify-content: space-between;
    }
    .gpt__cta-container h3 {
        font-size: 25px;
        line-height: 45px;
        margin: 0 10px 0 0;
    }
    .gpt__cta-button {
        font-size: 16px;
        padding: 13px 30px;
    }
}
@media screen and (min-width: 1280px) {
    .gpt__cta-button {
        padding: 13px 40px;
    }
}

@media screen and (min-width: 1440px){
    .gpt__cta-container{
        max-width: 1920px;
        margin: 0 auto;
    }
}