.feature-list__item {
    position: relative;
    margin-bottom: 2rem;
    
}
.feature-list__item:last-child {
    margin-bottom: 0;
}
.feature-list__item h3{
    color: #fff;
    letter-spacing: -0.04em;
    line-height: 40px;
}
.feature-list__item h3::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    max-width: 38px;
    height: 2px;
    background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
        #ffffff;
}
.feature-list__item h3 {
    color: #fff;
    font-size: 18px;
    line-height: 65px;
    font-weight: 800;
    flex: 1 0 50%;
}
.feature-list__item p{
    color: var(--color-text);
}

@media screen and (min-width: 768px) {
    .feature-list__item {
        margin-bottom: 0;
    }
}
