header h1 {
    font-weight: 800;
    letter-spacing: -0.04em;
}
header p {
    font-size: 17px;
    line-height: 24px;
    color: var(--color-text);
    margin-bottom: 30px;
}
.gpt__header-content {
    margin-bottom: 3rem;
}
.gpt__header-content h1 {
    margin-bottom: 1rem;
}

.gpt__header-image img {
    width: 100%;
    object-fit: cover;
}
header [type="email"] {
    padding: 18px 20px;
    color: #fff;
    background-color: var(--input-bg);
}
.email-form [type="email"]::placeholder {
    color: #3d6184;
}
.email-form button {
    color: #fff;
    background: #ff4820;
    border-radius: 0px 5px 5px 0px;
    padding: 18px 20px;
}
.visitors {
    max-width: 182px;
    position: relative;
}
.visitors img {
    position: absolute;
    left: calc(37px);
    transition: all 0.5s ease;
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        align-items: center;
        flex: 1 50%;
    }
    header h1 {
        font-size: 50px;
        line-height: 65px;
    }
    header p {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 44px;
    }
    .gpt__header-image {
        max-width: 40%;
    }
    .email-form button,
    .email-form [type="email"] {
        padding: 24px 32px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1280px) {
    header h1 {
        font-size: 62px;
        line-height: 75px;
    }
    .gpt__header-image {
        max-width: 50%;
    }
}
